### Disposisjon

- fire elementære datatyper i Python
    - hva er typene?
    - hva avgjør hvilken type det blir
    - egenskaper ved typene
    - hvordan sjekke typen til en variabel

- typekonvertering (hvordan konvertere data fra en type til en annen)
    - int() - konvertere til int
    - float() - konvertere til float
    - str() - konvertere til streng
    - bool() - konvertere til bool

### Fire elementære datatyper i Python

Hver variabel inneholder én verdi

- __int__  - Heltall, f.eks. 9
- __float__ - Flyttall, f.eks. 9.0
- __string__ - Tekststrenger, f.eks. 'Python', "True"
- __bool__ - Boolske verdier (sannhetsverdier)
    - kun to mulige verdier: __True__, __False__

## Sjekke type: funksjonen __type()__
- av og til nyttig å kunne sjekke typen til en verdi eller variabel
- dette kan gjøres med funksjonen __type()__
- eksempel:

In [ ]:
lysfart = 3*10**8
c = 3e8
status = "True"
condition = True
type(lysfart), type(c), type(status), type(condition) # (float, float, str, bool)

## Heltall (int)
Brukes til hele tall. Fordeler vs. flyttall:
- ingen avrundingsfeil
- kan ha vilkårlig store tall (i Python)
    - dette illustreres i de nederste kodelinjene under

In [ ]:
antall = 15 
straffepoeng = -3
komb_rubik = 43252003274489856000      # Antall kombinasjoner 1 Rubiks kube
komb_100_kuber = komb_rubik ** 100     # Antall kombinasjoner med 100 kuber?
print(komb_100_kuber) # 398678412025993248693767893597315650694910919088367043687502346812328351175648700658737

Altså,
- heltall i Python kan være vilkårlig store
- flyttall i Python har derimot en begrensning på størrelsen

### Konvertering til heltall med funksjonen int()
Funksjonen __int()__ konverterer til heltall
- fra float og bool: virker alltid
- fra string: kun hvis tekststrengen inneholder et heltall

In [ ]:
print(int(2.9))   # blir 2, dvs. int() runder alltid ned
print(int(True))  # blir 1, mens int(False) blir 0
print(int('327')) # blir 327
print(int('-86')) # blir -86

print(int('fem')) # gir ValueError Feil bruk av int()  - den skjønner ikke ord for tall
print(int('234.9')) # gir ValueError Feil bruk av int() - den skjønner ikke desimaltall i streng
print(int('3 - 1')) # gir ValueError Feil bruk av int() - den gjør ikke beregninger på tekst

## float (flyttall)
- brukes der vi trenger desimaler
- regning med flyttall kan gi avrundingsfeil
    - forklares ikke her, egen episode
- __vitenskapelig notasjon__ for små og store tall
    - gir alltid __float__, selv når mantisse skrives uten desimal, dvs.
        - 3e7 blir __float__, samme som 3.0 \* 10 \*\* 7, mens 
        - 3 \* 10 \*\* 7 blir __int__

In [ ]:
radius = 2.4
omkrets = radius * 3.14
NA = 6.02214076e23
kB = 1.380649e-23
print(NA * kB) # 8.31446261815324

### Konvertering til flyttall med float()
Har data av annen  type, ønsker float, da kan vi
- konvertere med funksjonen __float()__

In [ ]:
x = 1
y = 2
print(float(y)) # blir 2.0
print(float(x+y)) # blir 3.0
print(float(9)) # blir 9.0
print(float('3.99')) # blir 3.99
print(float('-5.22e-7')) # blir -5.22e-07

print(float('3,22')) # gir ValueError Feil bruk av float() - den skjønner ikke komma som desimaltegn

### Nøsting av konverteringsfunksjoner:
Akkurat som andre Python-funksjoner, kan konverteringsfunksjoner nøstes

Eksempel på nyttig bruk: vi tar teksten "53.22" og ønsker __int__

__int("53.22")__ går ikke, men dette vil funke:

In [ ]:
int(float("53.22")) # blir 53, dvs. float() kjøres først, så int() på resultatet

og hvis vi hadde "53.22" men ønsker en streng med bare "53"...

In [ ]:
str(int(float("53.22"))) # blir '53', dvs. float() og int() kjøres først, så str() på resultatet

## string (tekststrenger)
Verdiene omsluttes med fnutter (apostrof eller hermetegn)

Enkelttegn kan aksesseres med __indekser__, som __starter på 0__ i Python

In [ ]:
univ = 'NTNU'
by = "Trondheim"
tall = "3.22"
print(univ[0])  # første tegn i strengen univ
print(tall[1])  # andre tegn i strengen tall
print(by[-1])   # indeks -1 teller bakfra

### Konvertering til streng med str()
Hvis vi har talldata men trenger tekst, 
- kan vi konvertere med funksjonen __str()__

In [ ]:
str(3.22) # blir '3.22'
str(True) # blir 'True'
str(17) # blir '17'

## bool (sannhetsverdier)
Denne datatypen har kun to mulige verdier
- True og False
- NB: må skrives akkurat slik (stor forbokstav, resten små)
    - og skal IKKE ha fnutter rundt (teksten "True" er noe annet enn sannhetsverdien True)

### Konvertering til bool med bool()
Eksempel:

In [ ]:
bool(1), bool(0) # blir (True, False)
bool(-3.4), bool(0.0) # blir (True, False)
bool("Hei"), bool("") # blir (True, False)
bool([1, 2]), bool([]) # blir (True, False)

### Eksempler hvor noe virker med visse typer, ikke med andre
- aritmetiske operatorer
- strengrepetisjon
- indeksering

### Aritmetiske operatorer og typer
-, /, //, \%, \*\* gir mening for tall (int, float), men __ikke__ for strenger

Eksempel:

In [ ]:
2.5 - 1 # blir 1.5
"Python" - "hon" # gir TypeError - strenger kan ikke trekkes fra hverandre

### Strenger, kun + og * er mulig:
Men gjør da noe helt annet enn + og * gjør med tall

$+$ kan brukes mellom to strenger
- gir én streng sammensatt av de to

$*$ kan brukes mellom et heltall n og en streng
- gir en lenger streng hvor innholdet repeteres n ganger
### Tallet som ganges med strengen, må være heltall
Hjelper ikke at 3.0 er matematisk likt 3, typen avgjør

In [ ]:
# Eksempel:
x = 51
y = 50
a = '51'
b = '50'
x+y, x*3, a+b, a*3 # blir (101, 153, '5150', '515151')

print("Hipp" * 3) # gir "HippHippHipp"
print("Hurra" * 3.0) # gir TypeError - tallet må være heltall

### Indekser __må__ være heltall, flyttall går ikke
- hjelper ikke at 0.0 er matematisk lik 0, typen avgjør

In [ ]:
univ = 'NTNU'
print(univ[0])
print(univ[0.0])  # float ikke lov som indeks, selv om desimaldel er .0

# Typer inn avgjør typer ut (Eksamen)
Hvis operander er tall (int, float):
- alle operatorer + - * ** / // % kan brukes
- resultat blir float hvis minst én operand er float
- / gir float også når begge operander er heltall (jfr. I-3)

In [ ]:
print(2 * 3) # begge heltall, gir heltall
print(2.0 * 3) # ett flyttall, gir flyttall
print(5 - 0.0) # ett flyttall, gir flyttall
print(6 / 2) # gir alltid flyttall
print(6 // 2)  # gir heltall hvis begge er heltall, ellers flyttall